@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Original color variables */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-text: #000000;
  --primary-background: #ffffff;
  --secondary-background: #ffffff;
  --border-color: #dddddd;
  --hover-border-color: #0077ff;
  --button-background: rgba(255, 255, 255, 0.705);

  --skeleton-background: #ebe9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-text: #ffffff;
    --primary-background: #000000;
    --secondary-background: #000000;
    --border-color: #444444;
    --hover-border-color: #0077ff;
    --button-background: rgba(0, 0, 0, 0.479);

    --skeleton-background: #4c4c4c;
  }
}

body {
  color: var(--primary-text);
  background: var(--primary-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor-textarea:focus {
  outline: none !important;
}
